<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="products.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let product of products">
    <mat-expansion-panel-header>
      {{ product.p_name }}
    </mat-expansion-panel-header>
    <div class="product-image">
      <img style="width: 100px; height: 100px" [src]="product.img_url" [alt]="product.p_name">

    </div>
    <div style="display: flex; justify-content: space-evenly">
      <div style="display: inline-flex; align-items: center">
      <h3>Price: &nbsp;</h3>
    <h3>{{ product.price | currency: 'INR' }}</h3>
      </div>
      <div style="display: inline-flex; align-items: center">
      <h3>Despriction: &nbsp;</h3>
    <h3>{{ product.description }}</h3>
      </div>
    </div>
    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/edit', product.id]">EDIT</a>
<!--      <a mat-button color="primary" [routerLink]="['/product-form/edit', product.id]">EDIT</a>-->
      <button mat-button color="warn" (click)="onDelete(product.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator style="border-radius: 15px; opacity: 0.99" (page)="onChangedPage($event)"
               [length] ="totalProducts"
               [pageSize]="productsPerPage"
               [pageSizeOptions]="pageSizeOptions"
               *ngIf="products.length > 0 "> </mat-paginator>
<p class="info-text mat-body-1" *ngIf="products.length <= 0 && !isLoading">No products added yet!</p>
