.input-fields{
    padding-top: 20px;
  display: flex;
  justify-content: center;
}

select, input{
    // display: block;
   max-width: 100%;
  width: 100%;
  font-size: 1.3em;
  margin: 0 10px;
}
label, button,h3, input[type="radio"]{
  font-size: 1.3em;
  width: fit-content;
  align-content: center;
                  display: flex;
                  align-items: center;
}
input[type="file"] {
  width: 20em;  height: 2em;
}
input.search {
  width: 20em;  height: 2em;
}
.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
