
<mat-card style="display: table;">
    <form enctype="multipart/form-data" [formGroup]="form" (submit)="onSubmit()" >
        <div class="input-fields">
            <label for="p_name">Name: </label>
            <input required formControlName="p_name" type="text">
            </div>

            <div class="input-fields">
            <label for="p_brand">Brand Name: </label>
            <input required formControlName="p_brand" type="text">
        </div>
        <div class="input-fields">
            <label for="type">Product Type: </label>
            <!-- <input required formControlName="type" type="text"> -->
            <select required formControlName="type" >
                <option value="seed">Seed</option>
                <option value="machine">Machinery</option>
                <option value="fertilizers">Fertilizers</option>
              </select>
            </div>

            <div class="input-fields">
            <label for="price">Price: </label>
            <input required formControlName="price" type="number">
        </div>

            <div class="input-fields">
            <label for="description">Description: </label>
            <input required formControlName="description" type="text">
        </div>
        <div class="input-fields">
            <label for="sale">Sale: </label>
            <!-- <input name="sale" type="" ngModel> -->
            <input formControlName="sale" type="radio" [value]="true" (click)="toggleOff()" required/> Yes
            <input formControlName="sale" type="radio" [value]="false" (click)="toggleOn()" required  /> No
        </div>

            <div class="input-fields">
            <label for="s_price">Sale Price: </label>
            <input required formControlName="s_price" type="number">
        </div>
        <div class="input-fields">
            <label for="season">Season: </label>
            <!-- <input required name="season" type="text"> -->
            <select required formControlName="season" >
                <option value="winter">Winter</option>
                <option value="spring">Spring</option>
                <option value="summer">Summer</option>
                <option value="monsoon">Monsoon</option>
                <option value="Autumn">Autumn</option>
                <option value="All Seasons">All Seasons</option>
              </select>
            </div>

              <div class="input-fields">
            <label for="img_url">Image Upload: </label>
            <input formControlName="img_url" required type="file" (change)="onImagePicked($event)" #imageInput accept="image/*">

        </div>
        <div class="input-fields">
        <button  type="Submit">Save Product</button>
    </div>
    </form>
</mat-card>


<!--
<mat-card>
    <form (submit)="onSubmit(postForm)" #postForm="ngForm">
        <div>
            <label for="p_name">Name: </label>
            <input required name="p_name" type="text" ngModel>
            <label for="p_brand">Brand Name: </label>
            <input required name="p_brand" type="text" ngModel>
        </div>
        <div>
            <label for="type">Product Type: </label>
            <input required name="type" type="text" ngModel>
            <label for="price">Price: </label>
            <input required name="price" type="number" ngModel>
            <label for="description">Description: </label>
            <input required name="description" type="text" ngModel>
        </div>
        <div>
            <label for="sale">Sale: </label>
            <input name="sale" ngModel type="radio" [value]="true" (click)="toggleOff()" required/> Yes
            <input name="sale" ngModel type="radio" [value]="false" (click)="toggleOn()" required  /> No
            <br>
            <label for="s_price">Sale Price: </label>
            <input required [disabled]="textBoxDisabled" name="s_price" type="number" ngModel>
        </div>
        <div>
            <label for="season">Season: </label>
            <select required name="season" ngModel >
                <option value="winter">Winter</option>
                <option value="spring">Spring</option>
                <option value="summer">Summer</option>
                <option value="monsoon">Monsoon</option>
                <option value="Autumn">Autumn</option>
                <option value="All Seasons">All Seasons</option>
              </select>
            <label for="img_url">Image Upload: </label>
            <input name="img_url" required type="file" (change)="onImagePicked($event)" #imageInput accept="image/*" ngForm>

        </div>

        <button type="Submit">Save Product</button>
    </form>
</mat-card> -->
