<div style="display: flex; justify-content: center;text-align: center; margin: 30px auto">

<mat-card style=" justify-content: center; text-align: center; max-width: 100%; margin-left: 10px">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card-header style="justify-content: center"><a style=" background-color: blue;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  border-radius: 15px;
  text-transform: uppercase;" mat-button color="primary" routerLink="/product-management" >Tap to View/Edit Products</a></mat-card-header>
    <form enctype="multipart/form-data" [formGroup]="form" (submit)="onSubmit()" >
        <div class="input-fields">
            <label >Name: </label>
            <input required formControlName="p_name" type="text">
            </div>

            <div class="input-fields">
            <label >Brand Name: </label>
            <input required formControlName="p_brand" type="text">
        </div>
        <div class="input-fields">
            <label >Product Type: </label>
            <select required formControlName="type" >
                <option value="seed">Seed</option>
                <option value="machine">Machinery</option>
                <option value="fertilizers">Fertilizers</option>
              </select>
            </div>

            <div class="input-fields">
            <label  >Price: </label>
            <input required formControlName="price" type="number">
        </div>

            <div class="input-fields">
            <label >Description: </label>
            <input required formControlName="description" type="text">
        </div>
        <div class="input-fields">
            <label >Sale: </label>
          <div style="display: flex; justify-content: space-evenly; width: 100%">
            <input formControlName="sale" type="radio" [value]="true" (click)="toggleOff()" required/>
          <h3>Yes</h3>
          </div>
          <div style="display: flex; justify-content: space-evenly; width: 100%">
          <input formControlName="sale" type="radio" [value]="false" (click)="toggleOn()" required  />
          <h3>No</h3>
          </div>
        </div>

            <div class="input-fields">
            <label >Sale Price: </label>
            <input required formControlName="s_price" type="number">
        </div>
        <div class="input-fields">
            <label>Season: </label>
            <select required formControlName="season" >
                <option value="winter">Winter</option>
                <option value="spring">Spring</option>
                <option value="summer">Summer</option>
                <option value="monsoon">Monsoon</option>
                <option value="Autumn">Autumn</option>
                <option value="All Seasons">All Seasons</option>
              </select>
            </div>

              <div class="input-fields">
            <label >Image Upload: </label>
              </div>
      <div class="input-fields" >
            <input formControlName="img_url" required type="file" (change)="onImagePicked($event)" #imageInput accept="image/*">

        </div>
        <div class="input-fields">
        <button style="justify-content: center  !important;background-color: red;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  border-radius: 15px;
  text-transform: uppercase;"  type="Submit">Save Product</button>
    </div>
    </form>
</mat-card>
</div>
<app-footer></app-footer>
