
<!--Ionicons-->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<!--Google Fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

<body>
<footer>
    <ul class="icons" style="display: flex;">
        <p style="color: white; margin : 0 auto; padding-left:20px;; padding-right:20px;">Buy agricultural products and machinery at Krishna Fertilizers. We offer a broad range of seeds, plant nutrition, plant protection and agriculture implements. Easy Payment Options, Quick Response.</p>
    </ul>
    <ul class="menu">
        <h1 style="color: white; padding-top:20px">Contact Us</h1>
            <li style="color: white;"><h1>Phone:</h1><p> +(91)-9414111141</p></li>
            <li style="color: white;"><h1>Email:</h1><p> swadesh041@gmail.com</p></li>
            <li style="color: white;"><h1>Address:</h1><p> Krishna Fertilizers, Shop No. 5, near Gora Badal Stadium, Subzi Mandi Bundi Road, Chittorgarh, Rajasthan</p></li>
    </ul>
    <img src="../../assets/swadesh.JPG" style="width:110px; height:100px; border-radius:100px; border-style: solid;" alt="">
        <div class="footer-copyright">
            <p>Copyright @ 2022 All Rights Reserved. Aryan Dadheech</p>
        </div>
</footer>
