<div>
    <swiper style="max-height: 400px; min-height: 200px;" class="top-margin"
    [slidesPerView]="1"
    [spaceBetween]="10"
    [navigation]="false"
    
    [scrollbar]="{ draggable: true }"
    >
    <ng-template swiperSlide><img src="../../assets/banner/c1.jpg" style="min-height: 200px;" alt=""></ng-template>
    <ng-template swiperSlide><img src="../../assets/banner/c2.jpg" style="min-height: 200px;" alt=""></ng-template>
    <ng-template swiperSlide><img src="../../assets/banner/c3.jpg" style="min-height: 200px;" alt=""></ng-template>
    <ng-template swiperSlide><img src="../../assets/banner/c4.jpg" style="min-height: 200px;" alt=""></ng-template>
    <ng-template swiperSlide><img src="../../assets/banner/c5.jpg" style="min-height: 200px;" alt=""></ng-template>
    <ng-template swiperSlide><img src="../../assets/banner/c6.jpg" style="min-height: 200px;" alt=""></ng-template>
    </swiper>
</div>