<mat-sidenav-container class="sidenav-container" style="display: contents !important;">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="( isHandset$  | async) ? 'dialog' : 'navigation'"
               [mode]="( isHandset$  | async) ? 'over' : 'side'"
               [opened]="false">
    <mat-toolbar class="sidenav-item">Menu</mat-toolbar>
    <mat-nav-list>
      <a (click)="drawer.close()" class="sidenav-item" mat-list-item routerLink="/seeds-view">Seeds</a>
      <a (click)="drawer.close()" class="sidenav-item" mat-list-item routerLink="/fertilizers-view">Crop Protection</a>
      <a (click)="drawer.close()" class="sidenav-item" mat-list-item routerLink="/machinery-view">Machinery</a>
      <div style="position: absolute;display: flex; justify-content: center; align-items: center;margin: 0 auto; bottom: 20px; right: 20px; ">
        <a (click)="drawer.close()"  *ngIf="!userIsAuthenticated" class="sidenav-item" mat-list-item routerLink="/login">Admin Login</a>
        <a (click)="drawer.close()" *ngIf="userIsAuthenticated"  class="sidenav-item" mat-list-item  routerLink="/product-form">
          Admin Dashboard
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="display: contents !important;">
    <mat-toolbar class="center-align" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf=" isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="center-align"><a routerLink="/" class="shop-name">Krishna Fertilizers</a></span>
      <span class="center-align" style="text-align: center">
        <div class="nav-fs"  *ngIf="isWeb$ | async" >
          <a class="nav-item" routerLink="/seeds-view" mat-list-item h>Seeds</a>
          <a class="nav-item" mat-list-item routerLink="/fertilizers-view">Fertilizers</a>
          <a class="nav-item" mat-list-item routerLink="/machinery-view">Machinery</a>
          <!--          <div style="position: absolute; right: 0;">-->
          <a class="nav-item" mat-list-item routerLink="/login"  *ngIf="!userIsAuthenticated">Admin Login</a>
          <a  class="nav-item" mat-list-item routerLink="/product-form"  *ngIf="userIsAuthenticated">
            Admin Dashboard
          </a>
        </div>
      </span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
