<mat-sidenav-container class="sidenav-container" style="display: contents !important;">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="( isHandset$  | async) ? 'dialog' : 'navigation'"
      [mode]="( isHandset$  | async) ? 'over' : 'side'"
      [opened]="false">
    <mat-toolbar class="sidenav-item">Menu</mat-toolbar>
    <mat-nav-list>
      <a class="sidenav-item" mat-list-item href="#">Seeds</a>
      <a class="sidenav-item" mat-list-item href="#">Crop Protection</a>
      <a class="sidenav-item" mat-list-item href="#">Machinery</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="display: contents !important;">
    <mat-toolbar class="center-align" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf=" isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="center-align"><h1 class="shop-name">Krishna Fertilizers</h1></span>
      <span class="center-align">
        <div class="nav-fs"  *ngIf="isWeb$ | async" >
          <a class="nav-item" mat-list-item href="#">Seeds</a>
          <a class="nav-item" mat-list-item href="#">Fertilizers</a>
          <a class="nav-item" mat-list-item href="#">Machinery</a>
        </div>
      </span>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
