@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Titan+One&display=swap');

.example-spacer {
    flex: 1 1 auto;
  }

  .mat-toolbar{
    background-color: green;
    color: darkgoldenrod;
  }
  